<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="shortcut icon" href="../public/images/APP_LOGO_RED.jpg" />
</head>
<body>
    <h1>Welcome Back <%= username %></h1>
    <% if (username === "Top3" || username === "IT38_Seked") { %>
        <a href="/Register">Register an account</a><br />
    <% } %>
    
    <a href="/SM-List">List</a>
    <br />
    <a href="/Logout">Logout</a>
</body>
</html>