<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="../public/images/APP_LOGO_RED.jpg" />
</head>
<body>
    <h1>LogIn</h1>
    <div class="login-proper">
        <div class="form">
            <form action="/verify" method="POST">
                <br>
                <% if(errorMsg) { %>    
                    <p style="font-size:140%; color:red"><b> <%= errorMsg %> </b></p>
                <% } %>
                <br>
                <label for="username">Username</label><br>
                <input type="text" id="username" name="username"><br><br>
                <label for="password">Password</label><br>
                <input type="password" id="password" name="password"><br><br>
                <input class="button" type="submit" value="Log In">
                <br><br>
            </form>
        </div>
    </div>
</body>
</html>